@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    font-weight: normal;
    list-style: square;
    box-sizing: border-box;
}

body{
    font-family: Genos;
    display:flex;
    margin: 0px;
    padding-bottom: 0px;
    background: url(images/title_bg.jpg) no-repeat center fixed;
    background-size: cover;
    position: absolute;
}
#title-page{
    display: flex;
    height: 100vh;
    width: 100%;
    background: url(images/title_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    color:white;
    padding-left: 10%;
    padding-top: 15%;
    font-size: 70px;
    letter-spacing: 6px;
    text-shadow: 5px 5px lightpink;

}
#navbar{
    display: flex;
    width: 40%;
    justify-self: center;
    justify-content: space-evenly;
    position: sticky;
    top: 1%;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin-top: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
@media (max-width: 952px) {
    label.nav-button{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 14px;
    }

}
.nav-button{
    padding: 2%;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: blueviolet;
}

#picture img {
    width: 80%;
    border-radius: 170px;
    padding-left: 10%;
    padding-top: 10%;
}
#picture{
    width: 30%;
}

#info{
    width: 60%;
}
#info h1, #projects h1{
    font-weight: bold;
    font-size: xxx-large;
}

#about {
    background: url(images/about_bg.jpg) no-repeat center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#about-navbar{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}
.about-button{
    width: 33%;
    padding: 0%;
    background: none;
    border: none;
    font-family: "Genos";
    font-size: x-large;
    font-weight: bold;
    position: relative;
    transition: 0.2s;
}
.about-button::after {
    content: "";
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.2s;
}
.about-button:hover,
.about-button:focus {
    color: white;
}
.about-button:hover::after,
.about-button:focus::after {
    background-color: purple;
    width: 100%;
}

#education{
    padding: 2%;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
#education h3,h4,h5{
    margin: 0;
}
#experience{
    padding: 2%;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
#skills{
    padding: 2%;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
#technical-skills{
    width: 50%;
}
#interpersonal-skills{
    width: 50%;
}
.date{
    text-align: right;
    margin: 0px;
}
#experience a{
    text-decoration-color: purple;
    color: black;
}
#experience h3 {
    display: inline;
}

#projects {
    background: url(images/projects_bg.jpg) no-repeat center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.project-card{
    width: 50%;
    height: 50%;
    padding: 2%;
}

#contact {
    background: url(images/contact_bg.jpg) no-repeat center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

